<div class="row">
  <div class="large-12 large-centered columns">
    <h1>IAN JOHNSON</h1>
    <p>Nashville, TN.</p>
  </div>
</div>
<div class="row">
	<div id="album" class="large-5 medium-5 columns">
		<div class="centered">
		  <h2>Lord Have Mercy</h2>
		</div>
		<p>Coming Spring 2015 Ian Johnson's first full length album, "Lord Have Mercy". Three years in the making, eleven songs recorded at Nashville's Silent Planet Studio. Co-produced by Brandon Owens & Ian Johnson. Mixed by Vance Powell.</p>
		<ul>
			<li>Be Home Again</li>
			<li>Better Side</li>
			<li>Brown & Gold</li>
			<li>God Bless, Farewell</li>
			<li>If It Ain’t Me</li>
			<li>Make Your Way</li>
			<li>Suitcases</li>
			<li>The Truth</li>
			<li>Treading Waters</li>
			<li>Trouble </li>
			<li>Elizabeth</li>
		</ul>
	</div>
	<div id="soundcloud" class="large-4 medium-5 columns">
	    <div id="album_cover">
	      <%= image_tag("lordhavemercy.jpg") %>
	    </div>  
	    <div id="iframe">  
		    <iframe width="100%" height="166" scrolling="no" frameborder="yes" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/165235172&amp;color=917157&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false">	
		    </iframe>
		</div>
	</div>
</div>